@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Outfit:wght@400;500&display=swap');

body {
    margin: 0px;
    overflow-x: hidden;
}

#box {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-row: 1;
    grid-gap: 10px;
    overflow-x: scroll;
}

.card {
    /* background: #3BC148; */
    background: linear-gradient(23deg, rgb(240, 240, 240) 0%, rgb(224, 224, 224) 100%);
    width: 200px;
    margin: 5px;
    padding: 15px 0px 0px 0px;
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 40px 40px;
    grid-template-areas: 
      "img"
      "name"
      "int";
}

.card h1 {
    grid-area: name;
    text-align: center;
    font-size: 20px;
    margin: 5px 0px 0px 0px;
}

.card p {
    grid-area: int;
    text-align: center;
    margin: 0px 0px 15px 0px;
}

.card img {
    margin: auto;
    grid-area: img;
    width: 150px;
    filter: drop-shadow(0px 0px 8px #000000c7);
}